@tailwind preflight
@tailwind components
@tailwind utilities
@tailwind screens


.bg-header  
	background-color:#0640A3

.hero-height 
	height: 80vh

.hero-shorter-height 
	height: 60vh

.text-blue-white 
	color: #F2F8FF

.hero-title-1 
	color: #AFD3FF	
	font-size: 49px	
	font-weight: bold	
	letter-spacing: 1.13px	
	line-height: 66px

.single-select__control
	@apply py-3 px-2 text-base

.single-select__option
	border-bottom: (0.01em solid #D7D7D7 !important)
	padding: (20px !important)

.api-select__control
	@apply py-3 px-2 text-base

.api-select__option
	border-bottom: (0.01em solid #D7D7D7 !important)
	padding: (20px !important)