@tailwind preflight
@tailwind components
@tailwind utilities
@tailwind screens


button:focus 
	outline:0

.bg-header  
	background-color:#0640A3

.hero-height 
	height: 75vh

.hero-shorter-height 
	height: 60vh

.active-btn
	@apply cursor-pointer bg-white this-black text-xl w-full py-6 border border-grey border-r-0 rounded-l border-b-4
	border-bottom: 4px solid #0640A3

.noBtn-active
	border-right: (1px solid #b8c2cc !important)
	border-bottom-right-radius: (.25rem !important)
	border-top-right-radius: (.25rem !important)
	border-bottom-left-radius: (0 !important)
	border-top-left-radius: (0 !important)

.yesBtn-inactive
	border-right: (0px !important)
	border-bottom-right-radius: (0 !important)
	border-top-right-radius: (0 !important)
	border-bottom-left-radius: (.25rem !important)
	border-top-left-radius: (.25rem !important)

.inactive-btn
	@apply cursor-pointer bg-transparent text-grey-dark text-xl w-full py-6 border border-grey rounded-r

.text-blue-white 
	color: #F2F8FF

.this-blue
	color: #0640A3

.this-black
	color: #31394F

.hero-title-1 
	color: #AFD3FF	
	font-size: 49px	
	font-weight: bold	
	letter-spacing: 1.13px	
	line-height: 66px

.single-select__control
	@apply py-5 px-3 text-base 
	cursor: (pointer !important)

.single-select__control:hover .single-select__single-value
	color: (blue !important)

.single-select__option
	border-bottom: (0.01em solid #D7D7D7 !important)
	padding: (30px !important)
	cursor: (pointer !important)

.api-select__control
	@apply py-5 px-3 text-base
	cursor: (pointer !important)

.api-select__option
	border-bottom: (0.01em solid #D7D7D7 !important)
	padding: (30px !important)
	cursor: (pointer !important)

.react-rotating-text-cursor
	animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite

@keyframes blinking-cursor 
	0%	
		opacity: 0
  
	50% 
		opacity: 1
  
	100% 
		opacity: 0
  